.identifyStep3-title{
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 30px;
  color: @brand-primary;

  .icon {
    line-height: 1;
    font-size: 50px;
    margin-right: 10px;
  }
}
.esp-row{
  .esp-btn-block{
    &.esp-btn-link{
      color: #fff;
      background: @brand-primary;
    }
    &.disabled,
    &[disabled] {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        background: transparent;
        color: #aaa;
        .box-shadow(none);
        .scale(1);
      }
    }
  }
}