@anime-wdith: 600px;
@anime-height: @anime-wdith;

@anime-sm-width: 360px;
@anime-sm-height: 300px;

.esp-anime {
  // border-radius: 10px;
  width: @anime-wdith;
  height: @anime-height;
  background-repeat: no-repeat;
  background-position: top center;
  transform: scale(1.15);
  position: relative;
  background-size: cover;

  &.esp-anime-sm {
    width: @anime-sm-width;
    height: @anime-sm-height;
    transform: scale(1);
  }

  &.anime1 { // 识别身份证
    background-image: data-uri('../img/anime-idcard-home.png');

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/test2.png');
      animation: anime1 steps(60) 4s infinite;
      background-size: cover;
    }
  }
  &.anime2 { // 识别银行卡
    background-image: data-uri('../img/anime-bankcard-home.png');

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-image: url('../img/identification-bank.png');
      animation: anime2 steps(96) 4s infinite;
      background-size: cover;
    }
  }
  &.anime3 { // 识别手机号
    background-image: data-uri('../img/anime-phone-home.png');

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      

      background-image: url('../img/input-phone.png');
      animation: anime3 steps(93) 4s infinite;
      background-size: cover;
    }
  }
  &.anime4 { // 输入支付密码
    background-image: data-uri('../img/anime-password-home.png');

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-image: url('../img/input-password.png');
      animation: anime4 steps(100) 4s infinite;
      background-size: cover;
    }
  }
  &.anime5, // 升级动画
  &.anime-5,
  &.anime-upgrade {
    background-image: url('../img/upgrade.png');
    animation: anime5 steps(37) 1.5s infinite;
  }
  &.anime6, // 开卡动画
  &.anime-6,
  &.anime-openCard,
  &.anime-opencard,
  &.anime-open-card {
    background-image: url('../img/open-card.png');
    animation: anime6 steps(75) 1.5s infinite;
  }
  &.anime7, // 打印动画
  &.anime-7,
  &.anime-print {
    background-image: url('../img/stamp.png');
    animation: anime7 steps(75) 1.5s infinite;
  }
}

@keyframes anime1 {
  0% {
    background-position: 0 0;
  }
  100% {
   background-position: 0 -36000px; 
  }
}
@keyframes anime2 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -57600px;
  }
}
@keyframes anime3 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -55800px;
  }
}
@keyframes anime4 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -60000px;
  }
}
@keyframes anime5 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -11100px;
  }
}
@keyframes anime6 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -22500px;
  }
}
@keyframes anime7 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -22500px;
  }
}