/* ========== navbar ========== */
@logo-width       : 410px;
@logo-height      : 70px;

@bank-logo-width  : 340px;
@bank-logo-height : @logo-height;

@logo-reverse-color      : #fff;
@logo-reverse-bg         : #008ce3;
@bank-logo-reverse-color : @logo-reverse-color;

@link-height: 60px;

/* ========== sidebar ========== */
@sidebar-width: 340px;
@sidebar-default-bg: #fff;

.navbar {
  background: #fff;
  .transition(all .4s);

  .navbar-inner {
    padding-right: 40px;
    padding-left: 40px;
  }

  .left {
    .logo {
      display: inline-block;
      width: @logo-width;
      height: @logo-height;
      overflow: hidden;
      margin-right: 40px;
      position: relative;

      i {
        display: inline-block;
        width: @logo-width;
        height: @logo-height;
        position: relative;
        left: 0;
        border-right: @logo-width solid transparent;
        filter: drop-shadow(@logo-reverse-color @logo-width 0);
        background-repeat: no-repeat;
        background-position: left center;
        background-image: data-uri('../img/brand.png');
        &.hengfeng{
          background-image: data-uri('../img/bankBrand_hengfeng_white.png');
        }
      }

      &:after {
        content: attr(data-version);
        position: absolute;
        top: 6px;
        left: 278px;
        font-size: 26px;
        line-height: 1;
        color: #C9CACA;
        font-weight: 400;
      }

    }

    .tel {
      line-height: 1;
      color: @brand-primary;
      margin-left: 50px;

      .tel-name {
        font-size: 24px;
        padding-right: 10px;
      }

      .tel-value {
        font-weight: 500;
        font-size: 46px;
      }
    }
    
  }

  .right {
    a + a {
      margin-left: 10px;
    }
  }

  a.link {
    height: @link-height;
    line-height: @link-height;
    border-radius: @link-height / 2;
    padding: 0 1.5em 0 1em;
    background: rgba(255, 255, 255, 0);
    .transition(all .2s);
    
    &:active{
      opacity: 1 !important;
      background: rgba(255, 255, 255, .15);
    }
    
    .icon {
      font-size: 40px; 
    }
    span {
      font-size: 24px;
    }
  }
}

.bank-logo.bank-logo-reverse i,
.esp-card .bank-logo i{
  left: -@bank-logo-width;;
}

.bank-logo{
  display: inline-block;
  width: @bank-logo-width;
  height: @bank-logo-height;
  overflow: hidden;

  i {
    display: inline-block;
    width: @bank-logo-width;
    height: @bank-logo-height;
    position: relative;
    left: 0;
    border-right: @bank-logo-width solid transparent;
    filter: drop-shadow(@bank-logo-reverse-color @bank-logo-width 0);
    background-repeat: no-repeat;
    background-position: left @bank-logo-height;
    background-image: data-uri('../img/bank-logo.png');
  }

  &.bohai i {
    background-position: left 0;
  }
  &.guangfa i {
    background-position: left -@bank-logo-height  * 1;
  }
  &.hengfeng i {
    background-position: left -@bank-logo-height  * 2;
  }
  &.huaxia i {
    background-position: left -@bank-logo-height  * 3;
  }
  &.jiaotong i {
    background-position: left -@bank-logo-height  * 4;
  }
  &.chongqingnongcunshangye i {
    background-position: left -@bank-logo-height  * 5;
  }
  &.pingan i {
    background-position: left -@bank-logo-height  * 6;
  }
  &.pufa i {
    background-position: left -@bank-logo-height  * 7;
  }
  &.xingye i {
    background-position: left -@bank-logo-height  * 8;
  }
  &.zhaoshang i {
    background-position: left -@bank-logo-height  * 9;
  }
  &.zheshang i {
    background-position: left -@bank-logo-height  * 10;
  }
  &.gongshang i {
    background-position: left -@bank-logo-height  * 11;
  }
  &.guangda i {
    background-position: left -@bank-logo-height  * 12;
  }
  &.jianshe i {
    background-position: left -@bank-logo-height  * 13;
  }
  &.minsheng i {
    background-position: left -@bank-logo-height  * 14;
  }
  &.nongye i {
    background-position: left -@bank-logo-height  * 15;
  }
  &.zhongguo i {
    background-position: left -@bank-logo-height  * 16;
  }
  &.zhongxin i {
    background-position: left -@bank-logo-height  * 17;
  }
  
}

/* ========== navbar reverse ========== */
.navbar.navbar-reverse{
  background: @logo-reverse-bg;
  color: #fff;
  &.hengfeng{
    background: @brand-hengfeng;

    &:after{
      background: @brand-hengfeng;
    }
  }
  .left {
    .logo {
      i {
        left: -@logo-width;
      }

      &:after {
        color: #fff;
      }
    }
    .bank-logo{
      i {
        left: -@bank-logo-width;
      }
    }
    .tel {
      color: #fff;
    }
  }

  a.link {
    color: #fff;
  }

  
}

.toolbar {
  .toolbar-inner {
    padding-right: 40px;
    padding-left: 40px;
    
    > div{
      display: flex;
      justify-content: center;
      align-items: center;
      color: @link-color;

      &.name,
      &.notice,
      &.tel {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.name span {
        font-size: 30px;
      }
      &.notice span {
        font-size: 30px;
      }
      &.tel span {
        font-size: 54px;
        font-family: 'DIN-Medium';
      }
      /* &.name .icon {
        top: 2px;
      }
      &.notice .icon {
        top: 2px; 
      }
      &.tel .icon {
        top: 2px;
      } */
    }

    .icon{
      font-size: 40px;
      margin-right: 25px;
      position: relative;
      top: 2px;
    }
  }

  &.toolbar-hidden ~ .pages {
    .page-content {
      padding-bottom: 0;
    }
  }
}


/* ========== toolbar reverse ========== */
.toolbar.toolbar-reverse {
  .toolbar-inner {
    background: @logo-reverse-bg;

    > div {
      color: #fff;
    }
  }
}

/* ========== sidebar ========== */
.sidebar {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  padding: 40px 42px;
  top: 120px;
  left: 0;
  bottom: 0;
  width: @sidebar-width;
  background: @sidebar-default-bg;
  border-right: 2px solid #d8d8d8;
  z-index: 500;
  .transform(translate(-100%, 0));

  .sidebar-title{
    font-size: 28px;
    margin-bottom: 40px;
    color: #444;
  }

  &.active {
    .transition(all .4s);
    .transform(translate(0, 0));    
  }
}
.sidebar-fixed .page-content,
.sidebar-through .page-content {
  padding-left: @sidebar-width;
}

html.bohai .bank-logo i {
  background-position: left 0 !important;
}
html.guangfa .bank-logo i {
  background-position: left -@bank-logo-height  * 1 !important;
}
html.hengfeng .bank-logo i {
  background-position: left -@bank-logo-height  * 2 !important;
}
html.huaxia .bank-logo i {
  background-position: left -@bank-logo-height  * 3 !important;
}
html.jiaotong .bank-logo i {
  background-position: left -@bank-logo-height  * 4 !important;
}
html.chongqingnongcunshangye .bank-logo i {
  background-position: left -@bank-logo-height  * 5 !important;
}
html.pingan .bank-logo i {
  background-position: left -@bank-logo-height  * 6 !important;
}
html.pufa .bank-logo i {
  background-position: left -@bank-logo-height  * 7 !important;
}
html.xingye .bank-logo i {
  background-position: left -@bank-logo-height  * 8 !important;
}
html.zhaoshang .bank-logo i {
  background-position: left -@bank-logo-height  * 9 !important;
}
html.zheshang .bank-logo i {
  background-position: left -@bank-logo-height  * 10 !important;
}
html.gongshang .bank-logo i {
  background-position: left -@bank-logo-height  * 11 !important;
}
html.guangda .bank-logo i {
  background-position: left -@bank-logo-height  * 12 !important;
}
html.jianshe .bank-logo i {
  background-position: left -@bank-logo-height  * 13 !important;
}
html.minsheng .bank-logo i {
  background-position: left -@bank-logo-height  * 14 !important;
}
html.nongye .bank-logo i {
  background-position: left -@bank-logo-height  * 15 !important;
}
html.zhongguo .bank-logo i {
  background-position: left -@bank-logo-height  * 16 !important;
}
html.zhongxin .bank-logo i {
  background-position: left -@bank-logo-height  * 17 !important;
}