.esp-btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 400px;
  text-overflow: ellipsis;

  transition: all .2s;
  .user-select(none);
  box-shadow: 0 20px 26px rgba(0, 171, 251, .5);

  .btn-size(@padding-base-vertical; @padding-base-horizontal; @font-size-h2; @line-height-base; @btn-border-radius-base);
  .btn-variant(@btn-default-color; @btn-default-bg ; @btn-default-border);
}

.esp-btn-sm {
  .btn-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @btn-border-radius-small);
}

.esp-btn-link {
  border-width: 2px;
  .box-shadow(none);

  .btn-size(0; 44px; @font-size-h5; @line-height-base; 10px);
  .btn-variant(@link-color; transparent; @link-color);

  &:active,
  &.active {
    background-color: @link-color;
    color: #fff;
    .scale(1);
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background: transparent;
      color: #ccc;
      border-color: #ccc;

      .box-shadow(none);
      .scale(1);
    }
  }
}

.esp-btn-block{
  display: block;
  width: 100%;
}

.esp-btn-valid {
  font-size: @font-size-h3;
  display: block;
  width: 100%;
  // line-height: 1.65;
  // padding-top: 17px;
  // padding-bottom: 17px;
  line-height: 100px - 4px;
  min-width: 0;
}
