.esp-card{
  display: block;
  border-radius: 20px;
  width: 760px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 32px rgba(0, 140, 227, 0.24);

  .esp-card-header{
    color: #fff;
    background: @brand-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    min-height: 130px;

    .esp-card-header-right{
      font-size: 34px;
      text-align: right;
      flex-grow: 1;
    }
  }
  .esp-card-main{
    padding:40px 20px;
    background: #fff;

    .esp-card-group{
      margin-bottom: 30px;
      font-size: 30px;
      line-height: 1.5;

      .clr();
      
      &:last-child{
        margin-bottom: 0;
      }

      .esp-card-group-title{
        width: 150px;
        float: left;
        font-weight: 100;
        color:#aaa;
      }
      .esp-card-group-content{
        margin-left: 150px;
        padding-left: 20px;
        word-wrap:break-word;
        color: #2e3032;
        position: relative;

        .esp-card-btn{
          position: absolute;
          outline: 0;
          right: 0;
          top: -3px;
          line-height: 52px;
          border-radius: 5px;
          border: 2px solid @brand-primary;
          box-sizing: border-box;
          padding: 0 40px;
          font-size: 28px;
          color: @brand-primary;
          box-sizing: border-box;
          background-color: @body-bg;
          transition: all .15s linear;
          cursor: pointer;
          .user-select(none);

          &:active{
            background: @brand-primary;
            color: #fff;
            .scale(.9);
          }
        }
      }
    }
  }
}