@dot-width: 4px;

.esp-card{
  display: block;
  border-radius: 20px;
  width: 760px;
  overflow: hidden;
  box-shadow: 0 9px 50px rgba(0,140,227,.24);
  &.hengfeng{
    box-shadow: 0 16px 36px 0 rgba(25,50,97,0.21);
  .esp-card-header{
    background: @brand-hengfeng;
    .bank-logo{
      background: url("../img/bankBrand_hengfeng_white.png") no-repeat !important;
    }
    &:after{
      display: none;
    }
  }
  }
  .esp-card-header{
    color: #fff;
    background: #008ce3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px;
    min-height: 130px;
    overflow: hidden;
    position: relative;

    .esp-card-header-right{
      font-size: 34px;
      text-align: right;
      flex-grow: 1;
      font-weight: 100;
    }

    // &:after {
    //   content: 'E CARD';
    //   text-transform: uppercase;
    //   position: absolute;
    //   line-height: 1;
    //   right: 10px;
    //   letter-spacing: 1px;
    //   bottom: -10px;
    //   font-size: 90px;
    //   color: #000;
    //   opacity: .04;
    //   transform: skewX(-10deg);
    // }
  }
  .esp-card-main{
    padding:40px 44px;
    background: #fff;
    .transition(all .3s);

    .esp-card-status-view {
      .esp-card-group{
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 1.5;
        min-height:45px;
        .clr();
        
        &:last-child{
          margin-bottom: 0;
        }

        .esp-card-group-title{
          width: 150px;
          float: left;
          font-weight: 100;
          color:#aaa;
        }
        .esp-card-group-content{
          margin-left: 150px;
          // padding-left: 20px;
          word-wrap:break-word;
          color: #2e3032;
          position: relative;

          .esp-card-btn{
            display: none;

            position: absolute;
            outline: 0;
            right: 0;
            top: -3px;
            line-height: 52px;
            border-radius: 10px;
            border: 2px solid @brand-primary;
            box-sizing: border-box;
            padding: 0 40px;
            font-size: 28px;
            color: @brand-primary;
            box-sizing: border-box;
            background-color: @body-bg;
            transition: all .15s linear;
            cursor: pointer;
            .user-select(none);

            &:active{
              background: @brand-primary;
              color: #fff;
              .scale(.9);
            }
          }
        }
      }
    }
    
    .esp-card-status-loading {
      display: none;
      text-align: center;

      .preloader{
        position: relative;
        width: 60px;
        height: 60px;
      }

      .esp-card-loading-text {
        margin-top: 20px;
        font-weight: 100;
        text-align: center;
        font-size: @font-size-h4;
        color: @brand-primary;
        width: 100%;

        .dot {
          display: inline-block;
          min-width: @dot-width;
          min-height: @dot-width;
          box-shadow: @dot-width 0 @brand-primary, (@dot-width * 3) 0 @brand-primary, (@dot-width * 5) 0 @brand-primary; 
          animation: dot 4s infinite step-start both;

        }
      }
    }

    .esp-card-status-success {
      display: none;
      
      .esp-card-status-success-icon {
        text-align: center;
        color: @brand-success;
        margin-bottom: 10px;

        .icon {
          font-size: 120px;
          line-height: 1;
        }
      }
      .esp-card-status-success-title {
        text-align: center;
        font-size: 36px;
        color: #2e3032;
        margin: 10px 0;

        em {
          margin-left: 15px;
          font-style: normal;
          color: @brand-success;
        }
      }
      .esp-card-status-success-info {
        text-align: center;
        font-size: 30px;
        color: #aaa;
        font-weight: 100;

        em {
          margin-left: 15px;
          font-style: normal;
          font-weight: bolder;
          font-size: 46px;
          color: @brand-primary;
          vertical-align: -3px;
        }
      }
    }
    
  }
  
}

@keyframes dot {
  25% { box-shadow: none; }
  50% { box-shadow: @dot-width 0 @brand-primary; }
  75% { box-shadow: @dot-width 0 @brand-primary, (@dot-width * 3) 0 @brand-primary; }
}

.esp-card.hasLoading{
  .esp-card-status-loading {
    opacity: 1;
    display: block !important;
  }
  .esp-card-status-view {
    display: none !important;
  }
  .esp-card-status-success {
    display: none !important;
  }
}

.esp-card.hasSuccess{
  .esp-card-status-success {
    opacity: 1;
    display: block !important;
  }
  .esp-card-status-loading {
    display: none !important;
  }
  .esp-card-status-view {
    display: none !important;
  }
}

.esp-card.hasError{
  .esp-card-status-view {
    display: block !important;
    .esp-card-btn {
      opacity: 1 !important;
      display: block !important;
    }

  }
  .esp-card-status-success {
    display: none !important;
  }
  .esp-card-status-loading {
    display: none !important;
  }
}

.esp-card3 {
  padding: 37px 50px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 120px;
  width: 898px;
  overflow: hidden;
  margin: 0 auto 50px;
  box-shadow: 0 14px 36px 0 rgba(0,157,231,0.28);
}

.esp-card3:last-child {
  margin-bottom: 0;
}

.esp-card-hasImg {
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABGBAMAAADIqCxaAAAAGFBMVEUAjuMAAAAAj+QAkOMAkuUAkecAlecAkOROcAmRAAAACHRSTlMkAB4aBxAMFZnO4usAAAHqSURBVEjH7dbBboJAEADQdQG5dhTxCqa2V2sTz2Kbei1NjNfSxLtY/z8Fd3EWFobx4qlz2rR5OMzOziIAI1yKvpBnAIMEC8GI1CQbwQnfJAvBigxJKHgxQDJiEg/JA5M4SNZMIpF8C2bcm7y9MgMJO/7JnUiwupmMxROoOM0YIVTbz2+ZGOrQo2GRQE+OS4QRh4yEMgnX6IOCZsIg18c6ykx7SYhrJ1OHrY+Y80sq80OT+pmXKWPW4qug6XkdaxSfS0NW2h7Fed/o/LSHbt810JLCi1UAWbuDNjbxy8wIAkfbZEXbUGRiE7esGUFg01qANUHa9jotdpMk077MbGJfLbKRmdzpiCoSRNbWUH3Wfqo8lRlBwGqbpEiXJGZqJ1FGDDCmCf7fhaNumoAmmFqsT3ZW/Ikk2O4D/XS3OzNo/Iyv39tRmZFkfG3jKWZGEdwHV6/yYrsi6rMHO0TqVVq+4IL6uMIC5Gqlpu2XRYYGqc7n8LLyQMW2SWIkWICkXKlRaycnEyRYgBjgkBZv9KxyC2rJPQISLIBfPUCereTmUCcTnJd6JPgqv+C9ClDEKoBv8FXP18Woqv1ub9xTBOnoKociHScxJkjHdewSpOPK8wjSceUNaQLbGT8xjODjsP81ZE4RWy4j2dzMP3Ijk6GvzR0qAAAAAElFTkSuQmCC');
  background-position: right 30px top 25px;  
}

.esp-card3-float .esp-card3-title{
  float: left;
  width: 140px;
  margin-bottom: 0;
}

.esp-card3-float .esp-card3-content{
  margin-left: 140px;
}

.esp-card3-title {
  font-size: 28px;
  color: #2E3032;
  margin-bottom: 46px;
}

.esp-card3-content {
  font-size: 46px;
  line-height: 1;
  color: #008CE3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.esp-card3-big {
  font-size: 120px;
  color: #2E3032;
  line-height: 1;
  text-align: right;
  position: relative;
  padding-left: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.esp-card3-big:before {
  content: '￥';
  display: block;
  position: absolute;
  font-size: 70px;
  bottom: 0;
  left: 0;
  width: 100px;
  text-align: left;
  line-height: 1;
}

.esp-card3-sign {
  font-size: 70px;
  width: 70px;
  float: left;
  position: relative;
  bottom: -40px;
}

.esp-card3-input {
  float: right;
  width: 700px;
  line-height: 1;
  font-size: 118px;
  color: #2E3032;
  text-align: right;
  border: none;
  height: 120px;
}
.esp-card2{
  width: 760px;
  height: 430px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 14px 36px 0 rgba(0,157,231,0.28);
  border-radius: 20px;
  .esp-card2-header{
    text-align: left;
    font-size: 42px;
    line-height: 1;
    padding: 54px 40px 34px 40px;
    color: #008CE3;
    border-bottom: 6px solid #008CE3;
  }
  .esp-card2-content{
    font-family: DIN-Medium;
    text-align: center;
    height: 300px;
    line-height: 300px;
    background: url("../img/down-payment-money.png") no-repeat 506px 108px;
    font-size: 90px;
    color: #2E3032;
    span{
      margin-right: 10px;
    }
  }
}