.esp-form-control{
  display: block;
  margin-bottom: 70px;
  background: #edf2f5;
  padding: 17px 18px;
  border-radius: 8px;
  position: relative;

  > input[type=text],
  > input[type=password] {
    background: transparent;
    font-size: 42px;
    padding: 5px 10px 6px 76px;
    border: none;
    line-height: 1;
    width: 100%;
    box-sizing: border-box;
    display: block;
    outline: 0;
  }

  > .icon {
    position: absolute;
    width: 66px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 52px;
    .transition(all .15s);
    color: @brand-primary;
  }
  >.esp-form-btn{
    display: inline-block;
    background: @brand-primary;
    color: @body-bg;
    border-radius: 7px;
    overflow: hidden;
    font-size: 38px;
    width: 275px;
    height: 100px;
    position: absolute;
    right: -300px;
    top:0;
    line-height: 101px;
    text-align: center;
    outline: none;
    transition: all .15s linear;
    border: 2px solid @brand-primary;
    box-sizing: border-box;
    &:active,
    &.active {
      background: @body-bg;
      color: @brand-primary;
      .scale(.9);
    }

    &.disabled,
    &[disabled] {
      &,
      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        background: @body-bg;
        color: @brand-primary;
       .scale(1)
      }
    }
  }
  &.hasWarming {
    > .icon {
      color: @brand-warming;
    }
  }

  &.hasDanger {
    > .icon {
      color: @brand-danger;
    }
  }

}
