@resultPage-color: rgba(255,255,255, 1);

.resultPage-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;

  .transition(all .25s);

  &.active {
    background: rgba(0, 0, 0, .6);

    .resultPage {
      .transform(translate3d(0, 0, 0));    
    }
  }

  .resultPage {
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    background: @resultPage-color;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
    align-items: center;
    box-sizing: border-box;

    .transition(all .25s);
    .transform(translate3d(0, 100%, 0));
    
    .resultPage-legend{
      // margin-bottom: 40px;
      width: 360px;
      height: 300px;
      box-sizing: border-box;
      overflow: hidden;
      font-size: 0;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }

      &.legend1:after {
        background-image: data-uri('../img/legend-1.png');
      }
      &.legend2:after {
        background-image: data-uri('../img/legend-2.png');
      }
      &.legend3:after {
        background-image: data-uri('../img/legend-3.png');
      }
      &.legend4:after {
        background-image: data-uri('../img/legend-4.png');
      }
      &.legend5:after {
        background-image: data-uri('../img/legend-5.png');
      }
      &.legend6:after {
        background-image: data-uri('../img/legend-6.png');
      }
      &.legend7:after {
        background-image: data-uri('../img/legend-7.png');
      }
    }

    .resultPage-title{
      font-size: 42px;
      line-height: 1.35;
      margin-top: 30px;
      margin-bottom: 30px;

    }

    .resultPage-info{
      margin-bottom: 60px;
      font-size: 28px;
      line-height: 1.5;
    }

    .resultPage-action{
      flex-grow: 1;
      align-items: flex-end;
      display: flex;

      .resultPage-btn {
        margin: 0 30px;
      }
    }
  }
}


.resultPage.hasSuccess{
  .resultPage-title{
    color: @brand-success;
  }
}

.resultPage.hasError{
  .resultPage-title{
    color: @brand-danger;
  }
}

.resultPage.hasPrimary{
  .resultPage-title{
    color: @brand-primary;
  }
}

.resultPage.resultPage-full{
  top: 0;
}